/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  font-size: 16px;
  background-color: #f7f7f7;
}

div {
  /*border: 1px solid #ccc;*/
}

/*margins below all content sections*/

#experience, #education, #skills, #honors {
  margin-bottom: 30px;
}

.navbar {
  background-color: #23232d;
  border: none;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFF;
}

.navbar-collapse {
  position: relative;
  float: right;
}

.navbar-nav {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

#hero-container {
  width: 100%;
  height: 300px;
  background-color: #414154;
  overflow: hidden;
}

#hero-container img {
  width: 60%;
}

.section-header {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #2f2f3d;
  margin: 25px 0px 15px 0px;
}

/*styles for job, school and skill containers*/
.job, .school, .skill {
  padding: 0px 0px 20px 0px;
}

/*job styles*/
.job {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}

.job-title {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.job-company {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
}

.job-years-large, .job-years-small {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9em;
}

.job-years-large p {
  position: relative;
  float: right;
}
/*all body copy grouped here*/
.job-text, .school-text, .skill-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #5b5b5b;
}

.job-company, .job-years-large, .job-years-small, .job-text, .school-degree, .school-text {
  margin-bottom: 10px;
}

/*school styles*/

.school-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.school-degree {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin-bottom: 5px;
}

/*skill styles*/
.skill-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*honor styles*/
#honors {
  border-top: 1px solid #d6d6d6;
}

#honor-list {
  list-style-type: none;
  padding: 0px;
}

#honor-list li {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  color: #5b5b5b;
  display: inline;
  margin-right: 10px;
  line-height: 1.5em;
}

/*media queries*/
/*allowing job years to move at 992px*/
@media only screen and (max-width: 991px) {
  .job-years-large {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .job-years-small {
    display: none;
  }
}
