/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 100px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #191c26;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 1px;
  color: white !IMPORTANT;
}

.navbar-nav {
  position: relative;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#page-title {
  font-family: 'Bellefair', serif;
  font-size: 2.8em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.2em;
  color: #7c7444;
}

#page-byline {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

#page-description {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-align: center;
}

.graphic-element {
  margin-top: 50px;
  text-align: center;
}

.graphic-number {
  font-family: 'Bellefair', serif;
  font-size: 2em;
  color: #7c7444;
  margin-bottom: 20px;
}

.graphic-title {
  font-family: 'Bellefair', serif;
  font-size: 2em;
  color: #7c7444;
  margin-top: 20px;
  margin-bottom: 15px;
}

.graphic-description {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
  margin-bottom: 25px;
}

/*elimination map*/
.legend {
  width: 200px;
  height: 190px;
  border: 1px solid #aaa;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
}

.legend h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

.legend-name {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

.bucket-1 {
  background-color: #073763;
  color: #eee;
}

.bucket-2 {
  background-color: #0b5394;
  color: #eee;
}

.bucket-3 {
  background-color: #3d85c6;
}

.bucket-4 {
  background-color: #6fa8dc;
}

.bucket-5 {
  background-color: #9fc5e8;
}

.bucket-6 {
  background-color: #f3f3f3;
}
