/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 100px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #191c26;
}

.chart-container {
  margin: 50px auto 50px auto;
  max-width: 1000px;
  padding: 20px 0px 20px 0px;
}

.chart-column {
  background-color: white;
}

.chart-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin: 30px 20px 10px 20px;
}

.chart-description {
  font-family: 'PT Sans', sans-serif;
  margin: 10px 20px 40px 20px;
}

.text-container p {
  font-family: 'PT Serif';
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5em;
}
