/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 100px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #191c26;
}

.chart-container {
  margin: 50px auto 50px auto;
  max-width: 1000px;
  padding: 20px 0px 20px 0px;
}

.chart-column {
  background-color: white;
}

.chart-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin: 30px 20px 10px 20px;
}

.chart-description {
  font-family: 'PT Sans', sans-serif;
  margin: 10px 20px 40px 20px;
}

.text-container p {
  font-family: 'PT Serif';
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5em;
}

/**keeps first chart from disappearing**/
#chart-ne {
  display: none;
}

/**chart five styles**/
/**div holding chart canvas**/
#chart-five {
  margin: 20px;
}

/**actual canvas containing chart**/
#chartfive {
  min-height: 400px;
}

/**chart five header**/
#chart-five-header {
  margin: 0px auto 0px auto;
  font-family: 'PT sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

/**chart five dropdown inside header**/
select {
  margin: 0px 10px 0px 10px;
  height: 30px;
  font-family: 'PT Sans', sans-serif;
  border: 0px;
  outline: 1px solid #e9e9e9;
  outline-offset:-1px
  border-bottom: 1px solid red;
}

select option {
  font-family: 'PT Sans', sans-serif;
}

@media only screen and (max-width: 767px) {
  #chart-five-header {
    text-align: left;
    font-size: 1em;
    margin-left: 25px;
  }
}
