/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 100px;
  font-size: 20px;
}

.navbar {
  background-color: #191c26;
}

.chart-container {
  margin: 50px 0px 50px 0px;
  max-width: 1000px;
}
